<div class="container-fluid section-header">
    <div *ngIf="(loading | async)" class="container loading-container">
        <ngx-loading [show]="loading"></ngx-loading>
    </div>
    <div class="header" *ngIf="!(loading | async)">
        <h3 class="section-title">Market Cap Rankings</h3>
    </div>
    <div *ngIf="!(loading | async)" class="row">

        <input [(ngModel)]="searchTerm" name="searchInput" class="search" type="text" placeholder="Search..."
               (keydown.enter)="doSearch()" />

        <button type="button" class="btn btn-primary btn-sm" (click)="doSearch()">Search</button>
        <button type="button" class="btn btn-secondary btn-sm" *ngIf="searchTerm" (click)="clearSearch()">Clear</button>
        <a href="javascript:void(0)" title="Refresh List" (click)="refreshList()">
            <i class="material-icons">autorenew</i>
        </a>

        <button *ngIf="mobileDevice && hideColumns" type="button" class="btn btn-round btn-simple btn-sm device-toggle" (click)="toggleColumnView()">
               <i class="material-icons">add</i>Expand
        </button>
        <button *ngIf="mobileDevice && !hideColumns" type="button" class="btn btn-round btn-simple btn-sm device-toggle" (click)="toggleColumnView()">
          <i class="material-icons">remove</i>Minimize
        </button>
        <span class="market-cap-list" *ngIf="marketCap">Mkt Cap: {{ marketCap | currency:'USD':true:'1.0-0' }}</span>
        <div *ngIf="!cardView" class="table-responsive">
            <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="clickRow($event)" ></ng2-smart-table>
        </div>
    </div>
</div>


