.market-cap-list {
    margin-left: 10px;
    white-space: nowrap;
    font-weight: bold;
}
.device-toggle {
    white-space: nowrap;
    color: gray;
}

:host /deep/ ng2-smart-table tbody > tr > td {
    font-size: 14px;
    cursor: pointer;
}

:host /deep/ ng2-smart-table thead > tr {
    font-size: 14px;
}

.search {
    margin-bottom: 5px;
}

.coin-img {
    float: left;
}

.coin-img-text {
    overflow: hidden;
}

.table-container {
    overflow: auto;
}

