.header-primary {
    background: linear-gradient(60deg, #999999, #989898);
}
.about-wrapper {
    margin: auto;
    padding-top: 6px;
}

.shadow-img {
    background-image: url("/assets/img/dagspicture.jpg");
    opacity: 1;

}

.card-container {
    max-width: 450px;
    margin: auto;
}