<div class="container-fluid section-header">
    <div>
        <h3>About Me</h3>
    </div>
    <div class="rotating-card-container manual-flip">
      <div class="card card-rotate">
        <div class="front">
          <div class="card-content">
            <h5 class="category-social text-default">
              <i class="fa fa-newspaper-o"></i> David D'Agostino
            </h5>
            <h4 class="card-title">
              <a href="https://dags.io" target="_blank">Cryptocurrency Enthusiast</a>
            </h4>
            <p class="card-description">
               I am a software engineer living in Washington D.C. who has grown obsessed with cryptocurrency ever since reading about Bitcoin back in 2011.
               After realizing I was constantly checking the price of bitcoin and researching the never ending flow of new alt coins on a daily basis, I decided
                to create this site.   Using Angular 4, Material Kit Pro and PHP, I have built a single page application to satisfy both my itch to code and my curiosity
                for cryptocurrenies.  Please check back often as I plan to iterate and add features over time as well as refining the design.
            </p>
            <div class="footer text-center">
              <button type="button" name="button" class="btn btn-primary btn-fill btn-round btn-rotate">
                <i class="material-icons">refresh</i> More...
              </button>
            </div>
          </div>
        </div>

        <div class="back">
          <div class="card-content">
            <br>
            <h5 class="card-title">
              Learn More
            </h5>
            <p class="card-description">
              Check out the source code  or learn more about me from social media and my personal site
            </p>
            <div class="footer text-center">
              <a href="https://github.com/davedags/coins" class="btn btn-rose btn-round">
                <i class="material-icons">subject</i> View Code
              </a>
              <a href="https://dags.io" class="btn btn-just-icon btn-round">
                <i class="fa">D</i>
              </a>
              <a href="https://github.com/davedags" class="btn btn-just-icon btn-round btn-github">
                <i class="fa fa-github"></i>
              </a>
              <a href="https://soundcloud.com/daviddagostino" target="_blank" class="btn btn-just-icon btn-round btn-soundcloud">
                <i class="fa fa-soundcloud"></i>
              </a>
                <a href="https://linkedin.com/in/davedags" target="_blank" class="btn btn-just-icon btn-round btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
            <br>
            <button type="button" name="button" class="btn btn-simple btn-round btn-rotate">
              <i class="material-icons">refresh</i> Back...
            </button>
          </div>
        </div>
      </div>
    </div>
</div>