<div class="container-fluid section-header">
    <div class="card-container">
        <div>
            <h3>About Me</h3>
        </div>
        <div class="card card-profile">
            <div class="card-image">
                <a href="#">
                    <img class="img profile-img" src="/assets/img/dagspicture.jpg">
                </a>
                <div class="colored-shadow shadow-img"></div>
                <div class="ripple-container"></div>
            </div>
            <div class="card-content">
                <h4 class="card-title">David D'Agostino</h4>
                <h6 class="category text-gray">Director of Engineering</h6>
                <p class="card-description">
                    I am a Director of Software Engineering living in Washington D.C. who has grown obsessed with cryptocurrency ever since reading about Bitcoin back in 2010.
                    In looking for a website to track price changes, research coins, and manage my portfolio, I decided it would be more fun to build something on my own.
                    Using Angular 4, Material Kit Pro, PHP, MySQL and a slew of apis, I developed this single page application to satisfy both my itch to code and my curiosity
                    for cryptocurrencies.  I hope you enjoy!
                </p>
                <div class="footer text-center">
                    <a href="https://dave.dags.io/#contact" target="_blank" title="Contact Me">
                        <button class="btn btn-simple btn-danger">Contact Me</button>
                    </a>
                    <br/>
                    <a href="https://github.com/davedags/coins" class="btn btn-rose btn-round">
                        <i class="material-icons">subject</i> View Code
                    </a>
                    <a href="https://github.com/davedags" class="btn btn-just-icon btn-round btn-github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="https://soundcloud.com/daviddagostino" target="_blank" class="btn btn-just-icon btn-round btn-soundcloud">
                        <i class="fa fa-soundcloud"></i>
                    </a>
                    <a href="https://linkedin.com/in/davedags" target="_blank" class="btn btn-just-icon btn-round btn-linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>