<div class="container-fluid section-header">
    <div class="card-container">
        <div class="card card-signup">
            <div class="header header-primary text-center">
                <h3>About</h3>
            </div>
            <div class="card-content">
                <h3 class="card-title text-center">David D'Agostino</h3>
                <h6 class="category text-gray text-center">Director of Engineering</h6>
                <p class="card-description">
                    I am a Director of Software Engineering living in Washington D.C. who has grown obsessed with cryptocurrency ever since reading about Bitcoin back in 2010.
                    In looking for a website to track price changes, research coins, and manage my portfolio, I decided it would be more fun to build something on my own.
                    Using Angular 4, Material Kit Pro, PHP, MySQL and a slew of apis, I developed this single page application to satisfy both my itch to code and my curiosity
                    for cryptocurrencies.  I hope you enjoy!
                </p>
                <div class="footer text-center">
                    <a href="https://dave.dags.io/#contact" title="Contact Me">
                        <button class="btn btn-simple btn-danger">Contact Me</button>
                    </a>
                    <br/>
                    <a href="https://github.com/davedags/coins" class="btn btn-default btn-round">
                        <i class="material-icons">subject</i> View Code
                    </a>
                    <a href="https://github.com/davedags" class="btn btn-just-icon btn-round btn-github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="https://soundcloud.com/daviddagostino" class="btn btn-just-icon btn-round btn-soundcloud">
                        <i class="fa fa-soundcloud"></i>
                    </a>
                    <a href="https://linkedin.com/in/davedags"  class="btn btn-just-icon btn-round btn-linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>