.about-wrapper {
    margin: auto;
    padding-top: 6px;
}

.shadow-img {
    background-image: url("/assets/img/dagspicture.jpg");
    opacity: 1;

}

@media only screen and (max-width: 420px) {
    .card-container {
        width: 100%;
        margin: auto;
    }
}
@media only screen and (min-width: 500px) {
    .card-container {
        width: 400px;
        margin: auto;
    }
}
