/* You can add global styles to this file, and also import other style files */
.section-header {
    max-width: 95%;
}

.loading-container {
    height: 100vh;
}

.positive-change {
    color: green !important;
}
.negative-change {
    color: red !important;
}

.card-signup {
    margin-top: 50px;
}

