/* You can add global styles to this file, and also import other style files */
.section-header {
    max-width: 90%;
}

.loading-container {
    height: 100vh;
}

.portfolio-list-img {
    height: 25px !important;
    width: 25px !important;
}
