<div class="container-fluid top-panel">

    <div class="title">
        <h4>Popular Coins</h4>
    </div>

    <span class="label label-primary" (click)="changeCoin('BTC')">BTC</span>
    <span class="label label-info" (click)="changeCoin('ETH')">ETH</span>
    <span class="label label-success" (click)="changeCoin('LTC')">LTC</span>
    <span class="label label-danger" (click)="changeCoin('XMR')">XMR</span>
    <span class="label label-rose" (click)="changeCoin('XRP')">XRP</span>

</div>
<div class="Pane">

    <div class="Sub">
        <div class="Focus" id="ratePane">
            <div class="Center">
                <span class="Segmented">
                    <input class="Num Seg LeftSeg" id="invField"
                           [(ngModel)]="coinAmount" (change)="updateFiatPrice()" name="coinAmount" type="text">
                    <button class="Cur Seg RightSeg" id="unitABut"
                            asdfonclick="showUnitField(unitAField)" style="cursor: default" tabindex="-1">
                        <span class="Prefix" id="prefixField" style="display: none"></span>
                        <span id="unitASym">{{ coinSymbol }}</span>
                        <span class="Arrow"></span>
                    </button>
                </span>
                <span class="Equal">=</span>
                <span class="Segmented">
                    <input class="Num Seg LeftSeg" id="numField"
                           [(ngModel)]="fiatAmount" name="fiatAmount" type="text">
                    <button class="Cur Seg RightSeg" id="curBut" asdfonclick="showUnitBField()" tabindex="-1">
                        <span id="unitBSym">USD</span>
                        <span class="Arrow"></span>
                    </button>
                </span>
                <div class="Gauge" id="gaugeField"></div>

            </div>
        </div>
    </div>
</div>