.convertor {
    padding-top: 20px;
    padding-left: 55px;
}

.convertor-container {
    max-width: 600px;
}

.card-signup {
    margin-top: 50px;
}
.dropdown-toggle {
    color: white;
}
.card-content {
    margin-top: 25px;
    margin-bottom: 35px;
}

.top-panel {
     padding-top: 10px;
    text-align: center;
}

.top-panel span {
    margin: 0px 5px 0 0px;
    padding: 5px 5px 5px 5px;
}

.input-row {
    margin: auto;
    whitespace: nowrap;
    text-align: center;
    font-weight: bold;
}

.input-row input {
    font-size: 20px;
    padding-left: 10px;
}

.input-row span {
    font-size: 20px;
}
.equal-row {
    font-size: 20px;
    text-align: center;
}
.header-primary {
    background: linear-gradient(60deg, #999999, #989898);
}


