<div class="container section-header">
    <div class="container convertor-container">
        <div class="card card-signup">
            <div class="header header-primary text-center">
                <h3>Convertor</h3>
            </div>
            <div class="card-description container-fluid">
                <div class="top-panel">
                    <span class="label label-primary" (click)="changeCoin('BTC')">BTC</span>
                    <span class="label label-info" (click)="changeCoin('ETH')">ETH</span>
                    <span class="label label-success" (click)="changeCoin('LTC')">LTC</span>
                    <span class="label label-danger" (click)="changeCoin('XMR')">XMR</span>
                </div>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="input-row col-sm-12">
                        <input id="invField" [(ngModel)]="coinAmount"
                               (change)="updateFiatPrice()" (click)="selectText($event)" name="coinAmount" type="tel"
                               pattern="[0-9]*" size="15" formnovalidate>

                        <span id="unitASym">{{ coinSymbol }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="equal-row col-sm-12">=</div>
                </div>
                <div class="row last-row">
                    <div class="input-row col-sm-12">
                        <input id="numField" [(ngModel)]="fiatAmount"
                               (change)="updateCoinAmount()" (click)="selectText($event)" name="fiatAmount" type="tel"
                               pattern="[0-9]*" size="15" formnovalidate>

                        <span id="unitBSym">USD</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>