<div class="container-fluid">
    <div class="title convertor">
        <h3>Convertor</h3>
    </div>
    <div class="top-panel">
        <span class="label label-primary" (click)="changeCoin('BTC')">BTC</span>
        <span class="label label-info" (click)="changeCoin('ETH')">ETH</span>
        <span class="label label-success" (click)="changeCoin('LTC')">LTC</span>
        <span class="label label-danger" (click)="changeCoin('XMR')">XMR</span>
    </div>
</div>
<div class="Pane">

    <div class="Sub">
        <div class="Focus" id="ratePane">
            <div class="Center">
                <span class="Segmented">
                    <input class="Num Seg LeftSeg" id="invField" [(ngModel)]="coinAmount"
                           (change)="updateFiatPrice()" (click)="selectText($event)" ame="coinAmount" type="tel"
                           pattern="[0-9]*" novalidate formnovalidate>
                    <span class="Cur Seg RightSeg" id="unitABut" style="cursor: default" tabindex="-1">
                        <span class="Prefix" id="prefixField" style="display: none"></span>
                        <span id="unitASym">{{ coinSymbol }}</span>
                    </span>
                </span>
                <span class="Equal">=</span>
                <span class="Segmented">
                    <input class="Num Seg LeftSeg" id="numField" [(ngModel)]="fiatAmount"
                           (change)="updateCoinAmount()" (click)="selectText($event)" name="fiatAmount" type="text">
                    <span class="Cur Seg RightSeg" id="curBut" tabindex="-1">
                        <span id="unitBSym">USD</span>
                    </span>
                </span>
                <div class="Gauge" id="gaugeField"></div>

            </div>
        </div>
    </div>
</div>