.market-cap-list {
    margin-left: 20px;
    font-weight: bold;
}
:host /deep/ ng2-smart-table tbody > tr > td {
    font-size: 14px;
}

:host /deep/ ng2-smart-table thead > tr {
    font-size: 14px;
}