<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/" >DagsCoin</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/" routerLinkActive="active">Rankings</a></li>
                    <li><a routerLink="/convertor" routerLinkActive="active">Converter</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section>
    <router-outlet></router-outlet>
</section>