<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" routerLink="/" >DagsCoin</a>
                <ul class="nav navbar-right nav-pills">
                    <li>
                        <a routerLink="/login" routerLinkActive="active">Log-In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section>
    <router-outlet></router-outlet>
</section>