<div class="container section-header coin-detail">
    <div *ngIf="detail">
        <h1> {{ detail.title }} </h1>
        <button *ngIf="!inPortfolio && loggedIn" type="button" (click)="portfolioAdd(detail.symbol)" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add To Portfolio
        </button>
        <button *ngIf="inPortfolio && loggedIn" type="button" (click)="portfolioRem(detail.symbol)" class="btn btn-default">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove From Portfolio
        </button>
    </div>
    <div class="row">
        <div class="col-sm-7 col-md-9">
            <div class="row">
                <div class="col-xs-6">
                    <img *ngIf="detail" class="img-rounded" width="100px" height="100px" src="{{ detail.image_url }}" />
                </div>
                <div class="col-xs-6">
                    <span *ngIf="price" class="small">1 {{ symbol }} = </span><h1 *ngIf="price">${{ price }} </h1>
                </div>
            </div>

            <div *ngIf="detail" class="row description-row">
                <ul class="nav nav-tabs coin-tabs">
                    <li *ngFor="let tab of tabs" (click)="selectTab(tab.id, $event)" [class.active]="tab.active">
                        <a href="">{{ tab.name }}</a>
                    </li>
               </ul>
               <div class="tab-content coin-tabs-text">
                   <div *ngFor="let tab of tabs" [hidden]="!tab.active" [innerHTML]="detail[tab.id]" class="pane"></div>
               </div>

            </div>
        </div>
        <div class="col-sm-5 col-md-3 sidebar-column">
            <div *ngIf="detail" class="sidebar panel panel-default">
                <div class="panel-heading">
                    <h3>{{ detail.name }} Stats</h3>
                </div>
               <table class="table table-responsive">
                   <tr>
                       <td>Total Supply</td>
                       <td>{{ detail.total_supply | number:0.0-0 }}</td>
                    </tr>
                    <tr>
                        <td>Algorithm</td>
                        <td>{{ detail.algorithm }}</td>
                    </tr>
                    <tr>
                        <td>Proof</td>
                        <td>{{ detail.proof }}</td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td>{{ detail.start_date }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>