<div class="container section-header coin-detail">
    <div *ngIf="!detail" class="container" style="height: 100vh">
        <ngx-loading [show]="!detail"></ngx-loading>
    </div>
    <div *ngIf="detail" class="row">
        <div class="col-sm-8">
            <h1 class="detail-title"><img *ngIf="detail" class="img-rounded" width="55px" height="55px" src="{{ detail.image_url }}" />  {{ detail.name }}</h1>
            <div>
                <button *ngIf="(loggedIn && !inPortfolioInit)" type="button" class="btn btn-round">Loading ... </button>
                <button *ngIf="(!loggedIn || (inPortfolioInit && !inPortfolio))" type="button" (click)="portfolioAdd(detail.symbol)" class="btn btn-round">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add To Portfolio
                </button>
                <button *ngIf="inPortfolio" type="button" (click)="portfolioRem(detail.symbol)" class="btn btn-round">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove From Portfolio
                </button>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card current-price">
                <div class="card-content">
                    <h5 class="card-title">{{ symbol }} Price</h5>
                    <div class="card-description">
                        <h3 class="current-price-text" *ngIf="price >= 1">${{ price | number:'1.2-2'}}
                          <span *ngIf="percentChange">( {{ percentChange }}% )</span>
                        </h3>
                        <h3 class="current-price-text" *ngIf="price < 1">${{ price | number:'1.2-6'}}
                            <span *ngIf="percentChange">( {{ percentChange }}% )</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="detail" class="row">
        <div class="col-sm-8">

            <div *ngIf="detail" class="row description-row">
                <div class="card card-nav-tabs">
                    <div class="header header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs coin-tabs" data-background-color="white">
                                    <li *ngFor="let tab of tabs" (click)="selectTab(tab.id, $event)" [class.active]="tab.active">
                                        <a href="javascript:void(0)">{{ tab.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="tab-content coin-tabs-text">
                            <div *ngFor="let tab of tabs" [hidden]="!tab.active" [innerHTML]="detail[tab.id]" class="pane"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 sidebar-column">
            <div *ngIf="loggedIn" class="card">
                <div class="card-content">
                    <h5 class="card-title">Portfolio</h5>
                    <div *ngIf="assetFetched" [class.is-focused]="ownsAsset" class="card-description form-group label-floating">
                        <label class="control-label"># Coins Owned</label>
                        <input type="text" [(ngModel)]="quantityOwned" name="quantityOwned" class="form-control" />
                        <button class="btn btn-default btn-xs" (click)="saveAsset()">Save</button>
                        <button *ngIf="ownsAsset" class="btn btn-default btn-xs btn-simple" (click)="delAsset()">Delete</button>
                    </div>
                    <div *ngIf="!assetFetched" class="card-description">
                        Loading ...
                    </div>
                    <span *ngIf="portfolioValue" class="card-footer text-default">
                        <strong>Total Value: {{ portfolioValue }}</strong>
                    </span>
                </div>
            </div>
            <div *ngIf="detail" class="card">
                <div class="card-content table-responsive">
                    <h5 class="card-title">Stats</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Total Supply</td>
                                <td>{{ detail.total_supply | number:0.0-0 }}</td>
                            </tr>
                            <tr>
                                <td>Algorithm</td>
                                <td>{{ detail.algorithm }}</td>
                            </tr>
                            <tr>
                                <td>Proof</td>
                                <td>{{ detail.proof }}</td>
                            </tr>
                            <tr>
                                <td>Start Date</td>
                                <td>{{ detail.start_date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
