<div class="container section-header">
    <div class="container account-container">
        <div class="card card-signup">
            <form class="form" name="form" #f="ngForm">
                <div class="header header-primary text-center">
                    <h3 class="card-title">My Account</h3>
                </div>
                <div class="card-content">
                    <div class="form-group">
                        <label class="form-label">Default Page</label>
                        <div class="input-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="marketcap" name="default_page" [(ngModel)]="accountData.default_page" required>
                                        Market Cap Rankings
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="portfolio" name="default_page" [(ngModel)]="accountData.default_page" required>
                                        Portfolio
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Portfolio Chart Default Visibility</label>
                        <div class="input-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="show" name="default_chart_visibility" [(ngModel)]="accountData.default_chart_visibility" required>
                                    Show Chart
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="hide" name="default_chart_visibility" [(ngModel)]="accountData.default_chart_visibility" required>
                                    Hide Chart
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label password-label">Update Password</label>
                        <input type="password" [(ngModel)]="accountData.existing_password" name="existing_password" class="form-control"
                               placeholder="existing password" type="password"/>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="accountData.new_password" name="new_password" class="form-control"
                               placeholder="new password" type="password"/>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="accountData.verify_password" name="verify_password" class="form-control"
                               placeholder="verify new password" type="password"/>
                    </div>
                </div>
                <div class="footer text-center">
                    <button [disabled]="!f.form.valid" (click)="submitForm()" class="btn btn-round btn-primary">update account</button>
                    <!--<button (click)="login()" [disabled]="!f.form.valid" class="btn btn-primary btn-simple btn-wd btn-lg">Save</button>-->
                </div>
            </form>
        </div>
    </div>
</div>
