.account-container {
    max-width: 600px;
}

.account-header {
    text-align: center;
}

.card-content {
    padding: 0px 20px 0px 20px;
}
.form-label {
    color: #3C4958;
    margin-top: 10px;
}

.password-label {
    margin-bottom: 10px;
}

.form-group {
    padding-bottom: 3px;
    margin: 15px 0 0 0;
}

.header-primary {
    //background: linear-gradient(60deg, #999999, #989898);
}

.footer {
    margin-bottom: 15px;
}